<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/rate.css"> 
    <script type="text/javascript" src="./tinymce/tinymce.min.js"></script> 
    <script type="text/javascript" src="./tinymce/my-tinymce-config.js"></script>
</head>

<body>

    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    {{{body}}}
</body>

</html>