<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./tinymce/tinymce.min.js"></script> 
    <script type="text/javascript" src="./tinymce/my-tinymce-config.js"></script>  
</head>
<body>
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    {{{body}}}
    
</body>

</html>