<div class="container col-md-12">
    <h1>New Article</h1>
    <form action="./submit-article" method="post">
        <label for="title"><h2>Title:</h2></label>
        <input type="text" id="title" class="txtbox" name="title" placeholder="Add your title..."><br>
        <textarea name="content" id="articleContent" class="txtbox" placeholder="Start writing..."></textarea>
        <label for="tags"><h4>Tags:</h4></label>
        <input type="text" id="tags" class="txtbox" name="tags" placeholder="Add your tags..."><br>
        <button type="submit" class="btn">Post!</button>
    </form>
</div>