<div class="container">
    
    <h1>Edit Article</h1>
    <form action="./edit-article" method="post">
        <label for="title"><h2>Title:</h2></label>
        <input type="text" id="title" class="txtbox" name="title" value="{{article.title}}"><br>
        <textarea name="content" id="articleContent" class="txtbox">{{{article.content}}}</textarea>
        <button type="submit" class="btn">Post!</button>
    </form>
</div>