
<div class="container">
    <h1>New Article</h1>
    <form action="./submit-article" method="post">
        <label for="title"><h2>Title:</h2></label>
         <input type="text" id="title" class="txtbox" name="title"><br>
        <textarea name="content" id="articleContent" class="txtbox">Your Article Here</textarea>
        <button type="submit">Post!</button>
        {{#if toastMessage}}
        <p>{{toastMessage}}</p>
        {{/if}}
    </form>

</div>