<meta charset="UTF-8">
<link rel="stylesheet" href="./css/main.css">
<script src="../public/site/comments.js"> </script>

<input type="text" id="comment-box" class="txtbox" placeholder="Enter comment">
    <button id="post" class="btn">Post</button>
    <ul id="commentlist">
       
   </ul>
