<link rel="stylesheet" href="./css/login.css">
<div class="container col-sm-12">

    {{! Display a toast message if one was provided. }}
    {{#if toastMessage}}
        <p>{{toastMessage}}</p>
    {{/if}}
   
    <div id="login">
    <div class="dropdown">
        <button class="dropbtn">Login</button>
        <div class="dropdown-content">
            <form action="./login" method="POST">
                <div class="flex-col mb">
                    <label for="txtUsername" class="txt">Username:</label>
                    <input type="text" id="txtUsername" name="username" class="txtbox"required>
                </div>
                <div class="flex-col mb">
                    <label for="txtPassword" class="txt">Password:</label>
                    <input type="password" id="txtPassword" name="password" class="txtbox" required>
                </div>
                <br>
                <dev class="flex-row justify-sb align-right">
                    <button class="dropbt" type="submit">Submit</button>
                </dev>
            </form>
            <p>Don't have an account? 
            <a href="./newAccount"> Create one here. </a>
            <a href="./retrieve"> Forgot password</a> </p>
        </div>
    </div>
    </div>

</div>