<div class="container col-sm-12">

    <script>
        function checkSamePasswords() {
            if (document.newForm.password !== document.newForm.confirmedPassword) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    

    <h1>New Account</h1>
    <form name="newForm" onsubmit="checkSamePasswords()" action="./submit" method="POST">
        <p>Choose your avatar:
            <div>
            <label><input type="radio" name="avatar" id="blue" value="blue.png"  ><img src="./avatar/blue.png" width="90"></label> 
            <label><input type="radio" name="avatar" id="girl" value="girl.png" ><img src="./avatar/girl.png" width="90"></label> 
            <label><input type="radio" name="avatar" id="pink" value="pink.png" > <img src="./avatar/pink.png" width="90"></label>
            <label><input type="radio" name="avatar" id="turtle" value="turtle.png" ><img src="./avatar/turtle.png" width="150"></label>  
           <label><input type="radio" name="avatar" id="mouse" value="mouse.png" > <img src="./avatar/mouse.png" width="90"></label>
            </div>
        </p>
        {{!-- fetch email from client side/html and check with sql? --}}
    <script>
            async function keyup(){
               
               /* const userIsExisted = await fetch(`/checkUsername`); 
                console.log(`userIsExisted:${userIsExisted}`);
                
                {{!-- if(await userIsExisted.json();){
                    var x = document.getElementById("txtUsername");
                    x.value = x.value.toUpperCase();
                
                }else{
                    return;
                } --}}*/
            const username  = 

                
            }
    </script> 


        <p>
            <label for="txtUsername">Username:</label>

            <input type="text" name="username" id="txtUsername" class="txtbox" placeholder="must be unique" onkeyup="keyup()" >
            <div id="status"></div>

        </p>
        <p>
            <label for="txtPassword">Choose password:</label>
            <input type="password" name="password" id="txtPassword" class="txtbox"
                placeholder="any combination of a.Z.1.8.$">
        </p>
        <p>
            <label for="txtPasswordRe">Re-enter password:</label>
            <input type="password" name="confirmedPassword" id="txtPasswordRe" class="txtbox"
                placeholder="must be the same as the chosen one">
        </p>
        <p>
            <label for="txtName">Name:</label>
            <input type="text" name="name" id="txtName" class="txtbox" placeholder="full name">
        </p>
        <p>
            <label for="txtBirthdat">Birthday:</label>
            <input type="text" name="birthday" id="txtBirthday" class="txtbox" placeholder="YYYY/MM/DD">
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="txtbox" placeholder="xx@yy">
        </p>
        <p>
            <label for="txtIntroduction">Self Introduction:</label>
            <textarea id="txtIntroduction" class="txtbox" rows="4" cols="40" name="introduction"
                placeholder="briefly introduce yourself.."></textarea>
        </p>
        <p>
            <button type="submit" class="btn">Create account</button>
        </p>
    </form>
    <div ><p><small>Log in now?</small></p>
    <button type="button" class="btn" onclick="window.location.href='./login';" >Login</button>

</div>
