<div class="container">

    <h1>{{user.username}}, reset password here</h1>

    <form name="newForm" action="./resetSubmitted" method="POST">
        <div>
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername">
        </div>
        <div>
            <label for="txtPassword">New Password:</label>
            <input type="text" name="password" id="txtPassword">
        </div>
        <div>
            <label for="txtConfirmedPasswordRepeat">Enter again:</label>
            <input type="text" name="confirmedPassword" id="txtConfirmedPasswordRepeat">
        </div>

        <button type="submit">Reset</button>

    </form>
    <div>
        </p><small>Log in now with new passwords?</small>
        <button type="button" onclick="window.location.href='./login';">Login</button>
    </div>

</div>