
<div class="container col-sm-12">
     {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    
    <h1>{{user.username}}, reset password here</h1>
    

    <form name="newForm" action="./resetSubmitted"  method="POST">
        <div >
            <label for="txtUsername" class="label">Username:</label>
            <input type="text" name="username" id="txtUsername" class="txtbox">
        </div>
        <div >
            <label for="txtPassword" class="label">New Password:</label>
            <input type="text" name="password" id="txtPassword" class="txtbox" >
        </div>
        <div >
            <label for="txtConfirmedPasswordRepeat" class="label">Enter again:</label>
            <input type="text" name="confirmedPassword" id="txtConfirmedPasswordRepeat" class="txtbox">
        </div>

        <button type="submit" class="btn" >Reset</button>
        
    </form>
    <div><p><small>Log in now with new passwords?</small></p>
    <button type="button" class="btn" onclick="window.location.href='./login';" >Login</button>
    </div>


   
   

</div>