<div class="container">

    <h1>Retrieve Password</h1>
    <form name="retrieveForm" onsubmit="return checkEmail()" action="./retrieveSubmitted" method="POST">
        <div>
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" value={{username}}>
        </div>
        <div>
            <label for="txtEmail">Email:</label>
            <input type="text" name="email" id="txtEmail">
        </div>

        <button type="submit">Retrieve</button>

    </form>

</div>