.container{
   background-color:#FAF3DD ;
   padding: 20% 50% 50% ;
   margin: auto;
   display: relative;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #ffa69e;
    color: white;
    padding: 16px;
    font-size: 50px;
    border: none;
    cursor: pointer;
   
}

.dropbt {
    background-color: #ffa69e;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: auto;
    padding: 0 ;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Needed or non-display*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #B8F2E6}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffa69e;
}

.txt{
    
    color: #aed9e0;
    padding: 10px;
}

p{
    
    margin-right: auto;
    color: #aed9e0;
    font-size: 16px;
    padding: 10px;
    
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.txtbox{
    border-color: #ffa69e;
    color:#ffa69e;
    padding: 10px;
}



@media screen and (max-wdith:600px){
    #login {
        align-items: stretch;
    }
}