* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    position:relative;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 10px;
    background: #FAF3DD;
    background-size: cover;
    height: auto;
    display: grid;
}

p, .label{
    color: lightslategray;    
}

h1{
    color: #5e6472;
    text-align: center;
    padding-top: 10px;
        
}

h2, h3, h4{
    color: #81c7d2;
}



.txtbox{
    border-color: #ffa69e;
    color:#ffa69e;
}

.btn{
    background-color:#ffa69e;
    border-color: #ffa69e;
    color: white;
    font-size: 16px;
}


.tags{
    background:none;
    border: none;
    color: #ffa69e;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;

}

.avatorcontainer {
   display: flex;
   flex-direction:row;

}


ul.articleList{
    position:relative;
    top:0px;
}

#searchForm{
    position:absolute;
    top:500px;
    right:0px;

    text-align:left;
    z-index: 1;

}

@media screen and (max-width: 756px) {
    ul.articleList{
        position:relative;
        top:110px;
    }

    
}
