* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    
    position:relative;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 10px;
    background: #FAF3DD;
    background-size: cover;
    height: auto;
    display: grid;
}

p, .label{
    color: #aed9e0;    
}

h1{
    color: #5e6472;
    text-align: center;
    padding-top: 10px;
        
}

h2, h3, h4{
    color: #aed9e0;
}


.txtbox{
    border-color: #ffa69e;
    color:#ffa69e;
}

.btn{
    background-color:#ffa69e;
    border-color: #ffa69e;
    color: white;
    font-size: 16px;
}
